<ion-view view-title="{{cursos.title}}" cache-view="false">
  <ion-content>
    <ion-list>
        <ion-item class="item item-avatar item-text-wrap" ng-repeat="materia in cursos.disciplina" type="item-text-wrap" href="#/tab/materia/{{materia.id}}">
            <img ng-src="http://www.focusconcursos.com.br/focus-online/lib/php/image.php?image=skin/upload/{{materia.thumbnail}}&height=40&width=50&cropratio=1:1"/>
            <h2>{{materia.professor}}</h2>
            <p>{{materia.disciplina}}</p>
        </ion-item>
    </ion-list> 
  </ion-content>
</ion-view>