<ion-view view-title="SAC">
    <ion-content style="background:#4470b2">
        <div class="padding text-center">
            <img src="img/app.png" alt="" width="200">
            <p style="color:#b3853a; font-weight:bold">
                Aplicativo com.focusconcursos versão 1.1.1
            </p>
            <p>
                <button class="button button-small button-assertive" ng-click="logOut()">
                    Deslogar-se
                </button>
            </p>
        </div>
        <div class="padding text-center">
            <i class="icon icon-email" style="font-size:30px; color:#b3853a; padding-top:10px; position:relative; display:block"></i>
            <a style="color:#fff; font-weight:bold" ng-href="mailto:sac@focusconcursos.com.br">
                sac@focusconcursos.com.br
            </a>
        </div>
        <div class="padding text-center">
            <i class="icon icon-Web" style="font-size:80px; color:#b3853a; padding-top:10px; position:relative; display:block"></i>
            <a style="color:#fff; font-weight:bold; margin-top:-15px; position:relative;display:block" ng-click="openSite()">
                www.focusconcursos.com.br
            </a>
        </div>
        <div class="padding text-center">
            <i class="icon icon-logo_focus" style="font-size:60px; color:#fff; padding-top:10px; padding-bottom:20px; position:relative; display:block"></i>
            <a style="color:#b3853a; font-weight:bold;">
                @2016 Focus Concursos<br><br>
            </a>
        </div>
    </ion-content>
</ion-view>